<nav>
    <div class="logo"><a href="/blog"><b>BLOG</b><i class="fa-solid fa-rocket"></i></a></div>
    <ul>
        <li><a href="/blog/list">List of Blogs</a></li>
        <li><a href="/blog/create-blog">Create Blog</a></li>
        <li><a href="/blog/about">About</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</nav>