<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./partials/nav")%>
    <div class="container">
        <h2>About</h2>
       <div class="content">
        <div class="about-content flex">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sint, eligendi molestiae perferendis, provident facere quaerat ducimus inventore necessitatibus perspiciatis neque expedita molestias cum repudiandae earum voluptatibus tempora quas minus. Beatae quibusdam ea blanditiis. Corrupti officiis veniam, labore ipsum, officia impedit illum eaque, debitis accusamus aut aspernatur? Corrupti, quaerat molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque modi ut illo cum odit officiis voluptatem sint aperiam harum. Asperiores earum animi dolorem harum placeat accusantium assumenda cum explicabo optio.</p>
            <img src="\images\240_F_222851624_jfoMGbJxwRi5AWGdPgXKSABMnzCQo9RN.jpg" alt="man">
        </div>
       </div>
       <address>
        Umashankar <br>
        Jspiders Rajajinagar <br>
        Rajkumar Road <br>
        Bengaluru 56002 <br>
        Karnataka-India
    </address> 
    </div>
    <%- include("./partials/footer")%>
</body>
</html>