<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./partials/nav")%>
    <form action="/blog/create-blog" method="post" enctype="multipart/form-data">
        <h3>Create Blog</h3>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="snippet">Snippet</label>
        <input type="text" name="snippet" id="snippet">
        <label for="description">Description</label>
        <textarea name="" id="description"></textarea>
        <label for="photo">Photo</label>
        <input type="file" name="photo" id="photo">
        <button type="submit">Create Blog</button>
    </form>
    <%- include("./partials/footer")%>
</body>
</html>